/*-  palette
----------------------------------------------------------------------
*/


/*-  common elements
----------------------------------------------------------------------*/	
body {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #ccc;
	line-height: 1.6em;
	background: #232222 url(/images/bg/bg.jpg) top left repeat;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);  		
}

h1 {
  position: relative;
  z-index: 1;
  font-family: Georgia, Garamond, Times, serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);	  
  color: #c9c6c6;
  font-size: 43px;
  font-weight: normal;
  line-height: 1em;
  width: 600px;
  margin: 0.6em auto 1em auto;  
}

h1 strong {
  color: #fff;
  font-weight: normal;
}

h1 span {
  font-style: italic;
  font-weight: bold;
  color: #1a1a1a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .15);	
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

h2 {
  display: inline;
  color: #ddd;
  background-color: #ab000f;
  font-weight: normal;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;		  
  padding: 0 1em;
  line-height: 2.2em;
  position: relative;
  left: -620px;
  margin-bottom: -40px;
  top: 3px;
  float: right;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .8);  
}

p {
	margin: 0.33em 0pt 1em;
}

a:link,
a:visited {
	color: #c60011;
	text-decoration: none;	
}

a:hover {
	color: #dd0013;
	text-decoration: underline;		
}

strong {
  color: #fff;
  font-weight: normal;
}

em {
	font-style: italic;
}

ul, ol {
/*  list-style: none;*/
}

/*-  header
----------------------------------------------------------------------*/
a#blog {
  width: 205px;
  height: 123px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background: transparent url(/images/blog_ribbon.png) top left no-repeat;
}

#spotlight {
  width: 868px;
  height: 449px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -434px;
  z-index: 0;
  background: transparent url(/images/bg/top_highlight.png) top center no-repeat;
}

header {
  position: relative;
  z-index: 1;
  width: 600px;
  height: 193px;
  margin: 3.5em auto 0 auto;
  background: transparent url(/images/bg/flourish.png) bottom center no-repeat;
}

header img {
  display: block;
  margin: 0 auto 0.5em auto;
}

/*-  content
----------------------------------------------------------------------*/
section {
  position: relative;
  z-index: 1;
  width: 600px;
  margin: 2em auto 4em auto;
}

section .inner {
  width: 600px;
  margin: 0 auto;  
  padding: 1em 0;
}

section#colophon {
  font-size: 14px;
	text-shadow: none;  	    
  color: #666;
  width: 100%;
  margin: -2em 0 0 0;
  background: #fff url(/images/bg/shadow.png) top left repeat-x;
}

section#colophon h2 {
  background-color: #666;
  color: #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;		    
}

section#colophon ul {
  list-style-position: inside;
}

section#colophon ul li {
  margin-left: 0.3em;
  padding-bottom: 0.3em;
}

section#colophon a {
  color: #1e22c6;
}

.guideline {
  background-color: #4affff;
  font-size: 1px;
  line-height: 1px;
}

/*-  projects
----------------------------------------------------------------------*/
ul#projects {
  width: 620px;
  margin-bottom: -20px;
}

ul#projects li {
  display: block;
  width: 186px;
  height: 186px;
  background-color: #111;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

ul#projects:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html ul#projects {
  height: 1%; 
}

/*-  footer
----------------------------------------------------------------------*/
footer {
  margin: 2em auto 4em auto;  
  width: 100%;
  height: 230px;
  margin: 0;
  background: #f5f3e8 url(/images/bg/paper.jpg) top left repeat-x;  
}

footer .sketch {
  width: 1075px;
  height: 230px;
  margin: 0 auto;    
  background: transparent url(/images/bg/sketch.jpg) top center no-repeat;
}

/*-  misc
----------------------------------------------------------------------*/
