/*-  palette
----------------------------------------------------------------------
red = ab000f
*/


/*-  common elements
----------------------------------------------------------------------*/	
body {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #ccc;
	line-height: 1.6em;
	background: #232222 url(/images/bg/bg.jpg) top left repeat;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);     
}

h1 {
  position: relative;
  z-index: 1;
  font-family: Georgia, Garamond, Times, serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);	  
  color: #c9c6c6;
  font-size: 43px;
  font-weight: normal;
  line-height: 1em;
  width: 600px;
  margin: 0.6em auto 1em auto;  
}

h1 strong {
  color: #fff;
  font-weight: normal;
}

h1 span {
  font-style: italic;
  font-weight: bold;
  color: #1a1a1a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .15);	
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

h2 {
  display: inline;
  color: #ddd;
  background: #ab000f;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #c10011), color-stop(1.0, #8f000d));  
  font-weight: normal;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		  	
  padding: 0 1em;
  line-height: 2.2em;
  position: relative;
  left: -620px;
  margin-bottom: -40px;
  top: 3px;
  float: right;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .8);  
}

h3 {
  color: #fff;
  font-size: 1.2em;
}

p {
	margin: 0.33em 0pt 1em;
}

a:link,
a:visited {
	color: #c60011;
	-webkit-transition: color .2s linear;	
	text-decoration: none;	
}

a:hover {
  color: #ee0014;
	-webkit-transition: color .2s linear;  
}

strong {
  color: #fff;
  font-weight: normal;
}

em {
	font-style: italic;
}

/*-  header
----------------------------------------------------------------------*/
a#blog {
  width: 205px;
  height: 123px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background: transparent url(/images/blog_ribbon.png) top left no-repeat;
}

#spotlight {
  width: 868px;
  height: 449px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -434px;
  z-index: 0;
  background: transparent url(/images/bg/top_highlight.png) top center no-repeat;
}

header {
  position: relative;
  z-index: 1;
  width: 600px;
  height: 193px;
  margin: 3.5em auto 0 auto;
  background: transparent url(/images/bg/flourish.png) bottom center no-repeat;
}

header img {
  display: block;
  margin: 0 auto 0.5em auto;
}

/*-  content
----------------------------------------------------------------------*/
section {
  position: relative;
  z-index: 1;
  width: 600px;
  margin: 2em auto 4em auto;
}

section .inner {
  width: 600px;
  margin: 0 auto;  
  padding: 1em 0;
}

section#colophon {
  font-size: 14px;  
	text-shadow: none;  	    
  color: #666;
  width: 100%;
  margin: -2em 0 0 0;
  padding-top: 1em;
  background: #fff url(/images/bg/colophon_shadow.png) top left repeat-x;
}

section#colophon h2 {
  background: #666 ! important;
  color: #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;		    
}

section#colophon ul {
  list-style-position: inside;  
}

section#colophon ul li {
  margin-left: 0.3em;
  padding-bottom: 0.3em;
}

section#colophon a {
  color: #1e22c6;
}

.guideline {
  background-color: #4affff;
  font-size: 1px;
  line-height: 1px;
}

img.mugshot {
  float: right;
  margin: 0 3px 4em 1.5em;
  border: solid 4px #111;
}

/*-  projects
----------------------------------------------------------------------*/
img.back_soon {
  position: absolute;
  right: -94px;
  top: 50px;
}

img.curtain {
  position: relative;
  left: -4px;
}

section#portfolio {
  position: relative;
}

section#portfolio p.link {
  font-size: 1em;
  margin-top: 0;
  padding-bottom: 0.6em;
  border-bottom: dotted 1px #444;
}

section#portfolio p {
  font-size: 0.9em;
}

div.project_info {
  position: absolute;
  width: 200px;
  right: -220px;
  top: 0;
  line-height: 1.4em;
}

ul#projects {
  width: 620px;
  margin-bottom: -20px;
}

ul#projects li {
  position: relative;
  display: block;
  width: 186px;
  height: 186px;
  background-color: #111;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
	-moz-box-shadow: 0 0 8px #000;
}

ul#projects li a {
  text-decoration: none;
}

ul#projects li span.name {
  display: none;
  text-indent: 1em;
  width: 183px;
  line-height: 1.4em;
  padding: 0.8em 0;
  background: #333;  
  background: rgba(0, 0, 0, .8);
  color: #fff;
  position: absolute;
  bottom: 0;
  border-left: solid 3px #ab000f;
}

ul#projects:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html ul#projects {
  height: 1%; 
}

/*-  contact methods
----------------------------------------------------------------------*/
ul#contact_methods {
  width: 620px;
  margin-bottom: -20px;
	font-size: 1.4em;
}

ul#contact_methods li {
  display: block;
  width: 186px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
	text-align: center;
}

ul#contact_methods li img {
	margin: 0 auto 0.8em auto;
	display: block;
}

ul#contact_methods a span {
	font-size: 1.2em;
  font-style: italic;
	padding-right: 3px;
  color: #dd0013;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;	
	position: relative;
	top: 3px;
}


ul#contact_methods:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html ul#contact_methods {
  height: 1%; 
}

/*-  footer
----------------------------------------------------------------------*/
footer {
  margin: 2em auto 4em auto;  
  width: 100%;
  height: 250px;
  margin: 0;
  background: #f5f3e8 url(/images/bg/paper.jpg) top left repeat-x;  
}

footer .sketch {
  width: 1075px;
  height: 250px;
  margin: 0 auto;    
  background: transparent url(/images/bg/sketch.jpg) 96px 16px no-repeat;
}

/*-  misc
----------------------------------------------------------------------*/
