<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Black Ant Media &middot; Portfolio of Jason Long &middot; Web &amp; UI Design &middot; Columbus, Ohio</title>
    <link rel="stylesheet" href="@Site_Root/docs/css/reset.css" type="text/css">
    <link rel="stylesheet" href="@Site_Root/docs/css/screen.css" type="text/css">
    <script type="text/javascript" src="@Site_Root/docs/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="@Site_Root/docs/js/bam.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/onh2qny.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <a href="http://thestrake.com" id="blog">The Strake - My Personal Blog</a>
    
    <header>
      <img src="/images/logo.png" alt="Black Ant Media">
    </header>
    
    <h1>
      I'm <strong>Jason Long</strong>, an independent front-end developer <span>&amp;</span> UI 
      designer in <strong>Columbus, Ohio</strong>.
    </h1>
    
    <section id="portfolio">
      <h2>Portfolio</h2>
      
      <ul id="projects">
        <li>Project 1</li>
        <li>Project 2</li>
        <li>Project 3</li>
        <li>Project 4</li>
        <li>Project 5</li>
        <li>Project 6</li>
      </ul>

    </section>
    
    <section id="about">
      <h2>About</h2>
            
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </section>
    
    <section id="contact">
      <h2>Contact</h2>
            
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    
    <section id="colophon">
      
      <div class="inner">

        <h2>Colophon</h2>

        <p>Some of the companies, tools, and projects that help to make this site possible:</p>
        
        <ul>
          <li><a href="http://staceyapp.com">Stacey</a> - simple text file-based (no database) CMS system for portfolios</li>
          <li><a href="http://typekit.com">Typekit</a> - for enhanced typography on modern browsers supporting @font-face</li>
          <li><a href="http://jquery.com">jQuery</a> - everyone's favorite Javascript library</li>
          <li><a href="http://github.com">Github</a> - version control 
            (<a href="https://github.com/blackant/blackantmedia">this site's project is public</a> if you'd like to clone it and tinker)</li>
          <li><a href="http://capify.org">Capistrano</a> - for easy site deployments (the deploy script is included in the 
            <a href="https://github.com/blackant/blackantmedia">public repo</a>)</li>
          <li><a href="http://asmallorange.com">A Small Orange</a> - very reasonably priced web hosting for modest needs</li>
          <li><a href="http://html5.validator.nu/">Validator.nu</a> - markup validation for the ever-evolving HTML5 spec</li>
        </ul>
        
      </div>
    </section>
    
    <footer>
      <div class="sketch"></div>
    </footer>
        
  </body>
</html>