<!DOCTYPE html>
<!--
                           c          :.                    
      'o                  .0.       .d:c.                   
    '. .;         .;okO0000K0d:.   .O;  o:cccc:;'.          
   ;.   :  .;;,';OKKKKKKKKKKKKKKo .Od.ckKKKKKKKKKKOo.       
  :     'O0KKKKKKKK0KKKKKKKKKKKK0lOKkKKKKKKKKKKKKKKK0;      
 ;      lKKKKKKKKKc.0KKOxd:kKKKKKKKKKKKKKKKKKKKKKKKKK0.     
.;     ,KKKKKKKKKOkdKKKc:.  'OKKKKl.lKKKKKKKKKKKKKKKKO'     
:      oKKKKKKKk, x0KK0.;     oKK0Oodc,;coxO0KKKK0xl'       
       olcKK0x:. c:x,'.,        .  c          ..x;.         
      ;  .'.    ;.x.  '.           ;.           ,c ..       
    .'         ;.':                 ,            ;;         
  ...         .. .                  ,              :.       
             .;                      .              ',      
            ,:                       .               .,     
           ,.                         '                ..   
         ..                            ..                  .
                                        .,                  
-->                                                         
<html lang="en">
  <head>
    <title>Black Ant Media &middot; Portfolio of Jason Long &middot; Web &amp; UI Design &middot; Columbus, Ohio</title> 
    <meta charset="utf-8" />
    <meta name="description" content="Portfolio of web developer and designer Jason Long." />
    <meta name="author" content="Jason Long" />
    <link rel="openid.server" href="http://www.myopenid.com/server" /> 
    <link rel="openid.delegate" href="https://blackant.myopenid.com" />    
    <link rel="stylesheet" href="/min/index.php?g=css">     
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
  </head>
  
  <body>
    <!-- Asynchronous tracking code - placed at the top of the body tag per Google's recommendations --> 
    <script type="text/javascript"> 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-584195-1']);
      _gaq.push(['_trackPageview']);
 
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    </script>
    
    <img src="/images/bg.jpg" id="bg" />    
    <div id="wrapper">
      <div id="content">
        <span id="ie-typekit-fix" class="tk-skippy-sharp"><!-- Forcing IE to load Skippy Sharp --></span>
        <header>
          <img src="/images/_.gif" data-defer-src="/images/logo.png" alt="Black Ant Media" id="logo" />
          <nav>
            <ul>
              <li><a href="#" class="section" data-nav-section="work">Work</a></li>
              <li><a href="#" class="section" data-nav-section="play">Play</a></li>
              <li><a href="#" class="section" data-nav-section="about">About</a></li>
              <li><a href="#" class="section" data-nav-section="contact">Contact</a></li>
              <li><a href="http://thestrake.com" rel="external">Blog</a></li>
            </ul>
          </nav>
          
          <h1>I’m Jason Long, an independent front-end developer <em>&amp;</em> UI designer in Columbus, Ohio.</h1>
          <p>
            <span>I pride myself on creating</span> <em>innovative application designs</em> <span>and solving</span> <em>challenging interface problems</em>.<br />
            <span>I love to</span> <em>collaborate</em> <span>with other</span> <em>passionate developers and designers</em> <span>on exciting projects.</span>
          </p>
        </header>
                
        <section id="work">
          <h2>Work</h2>          

          <div id="portfolio-wrapper"></div>
        </section>

        <section id="play">
          <h2>Play</h2>
          
          <p>
          These are a few of the experiments and concepts that I’ve posted to <a href="http://thestrake.com">my blog</a> and <a href="http://dribbble.com/jasonlong">Dribbble</a>. I have a site called <a href="http://houseofbuttons.tumblr.com">House of Buttons</a> that you might like if you share my fetish for beautiful user interface buttons. Oh, and you can <a href="http://twitter.com/jasonlong">follow me on Twitter</a> if you're into that sort of thing.
          </p>

          <div id="social">
            <div id="current-social">
              <ul id="social-names">
                <li class="heading">Elsewhere on the Interwebs</li>
                <li>Twitter</li>
                <li>My Blog</li>
                <li>Goodreads</li>
                <li>Flickr</li>
                <li>Dribbble</li>
                <li>Mlkshk</li>
                <li>Rdio</li>
                <li>Last.fm</li>
              </ul>
            </div>

            <ul id="social-icons">
              <li><a href="http://twitter.com/jasonlong"><img src="/images/_.gif" data-defer-src="/images/icon-twitter.png" width="55" height="54" alt="Twitter" /></a></li>
              <li><a href="http://thestrake.com"><img src="/images/_.gif" data-defer-src="/images/icon-rss.png" width="55" height="54" alt="My Blog" /></a></li>
              <li><a href="http://www.goodreads.com/user/show/1207492-jason-long"><img src="/images/_.gif" data-defer-src="/images/icon-goodreads.png" width="54" height="54" alt="Goodreads" /></a></li>
              <li><a href="http://flickr.com/photos/jasonlong/"><img src="/images/_.gif" data-defer-src="/images/icon-flickr.png" width="54" height="54" alt="Flickr" /></a></li>
              <li><a href="http://dribbble.com/jasonlong"><img src="/images/_.gif" data-defer-src="/images/icon-dribbble.png" width="56" height="56" alt="Dribbble" /></a></li>
              <li><a href="http://mlkshk.com/user/jasonlong"><img src="/images/_.gif" data-defer-src="/images/icon-mlkshk.png" width="56" height="55" alt="Mlkshk" /></a></li>
              <li><a href="http://www.rdio.com/#/people/blackant/"><img src="/images/_.gif" data-defer-src="/images/icon-rdio.png" width="55" height="54" alt="Rdio" /></a></li>
              <li><a href="http://www.last.fm/user/blackant"><img src="/images/_.gif" data-defer-src="/images/icon-lastfm.png" width="54" height="55" alt="Last.fm" /></a></li>
            </ul>

          </div>

          <ul id="experiments">
            get "/play" do
              foreach $children do
                <li>
                  <a href="@link">
                    foreach $images do
                      <img srci="/images/_.gif" data-defer-src="@url" width="112" height="100" alt="@title" class="thumbnail" />
                    endforeach
                    <h5>@title</h5>
                  </a>
                  <p>@description</p>
                </li>
              endforeach
            end
          </ul>
        </section>

        <section id="about">
          <h2>About</h2>
          
          <p><img src="/images/_.gif" data-defer-src="/images/jason.jpg" width="180" height="187" alt="Jason" />I made my first website back in 1994 as Computer Science engineering student at The Ohio State University and I've been hooked ever since. WIth my technical background and passion for visual design, front-end web development and UI design is the perfect outlet for my skills and interests.</p>

          <p>I love to collaborate with other talented people on exciting projects. Sometimes I supply hardcore development shops with some creative juice. Other times I work with pure design agencies and bring a much-needed propeller hat. For the right-sized project, I can be the one-man band that brings your idea to life.</p>

          <p>I live in Columbus, Ohio where I've been married for over a dozen years and a dad for nearly ten. When I'm not pushing pixels or slinging code, I enjoy running and reading (preferably not at the same time).</p>

          
        </section>

        <section id="contact">
          <h2>Contact</h2>
          
          <div id="contact-wrapper">
              <div class="inner">
            		<div class="card">

            			<div id="form-wrapper" class="face front">
                    Have a project you need help with? Just want to say hey?
                    <form action="/public/php/contact.php" method="post" id="contact-form">
                      <p>
                        <label for="name">Your Name <sup>*</sup></label>
                        <input type="text" id="name" name="name" class="required" />
                      </p>
                      <p>
                        <label for="email">Email Address <sup>*</sup></label>
                        <input type="email" id="email" name="email" class="required validate-email" />
                      </p>
                      <p>
                        <label for="message">Message <sup>*</sup></label>
                        <textarea id="message" name="message" cols="30" rows="10" class="required"></textarea>
                      </p>
                      <button type="submit">Send Message</button>
                    </form>
            			</div>

                  <div id="envelope" class="face back">
                    <img src="/images/postmark.jpg" alt="Ant Mail" />
                    To: Jason Long<br />
                    From: <span id="from"></span>
                  </div>

            	 	</div>
            	</div>
                      	
            	<div id="thanks">
            	  <h5>Thanks for your message!</h5>
            	  <p>I'll be in touch shortly.</p>
            	  <p><a href="#" id="send-another">Send another?</a></p>
          	  </div>

            	<div id="error">
            	  <h5>Uh oh!</h5>
                <p>For some reason there was a problem sending your message.<p> 
                <p>Please try using the email address to the right.</p>
          	  </div>
            	
          	</div>
          	<div id="mail-slot"></div>
                  
          <!-- hcard microformat: http://microformats.org/wiki/hcard -->
          <div class="vcard">
            <h3>Electronic Mail</h3>
            <a href="mailto:hello@blackantmedia.com" class="email">hello@blackantmedia.com</a>
            <h3>Telephone</h3>
            <span class="tel">(614) 209-1516</span>
            <h3>Snail Mail</h3>            
            <div class="adr">
              <span class="street-address">P.O. Box 424</span>
              <span class="locality">Hilliard</span>, <span class="region">Ohio</span> 
              <span class="postal-code">43026</span>
            </div>
          </div>
          
        </section>

        <section id="colophon">
          <h2>Colophon</h2>

          <p>I love learning from other people and seeing how they create their work. If you're this type of person as well, feel free to check out <a href="https://github.com/blackant/blackantmedia">the code for this site on Github</a>. If you learn something, that's great. If you can teach me something, even better!</p>

          <p>The portfolio section above uses the lightweight <a href="http://staceyapp.com/">Stacey CMS</a>. I'm using the <a href="http://mootools.net">MooTools</a> Javascript framework for the portfolio functionality and various visual effects. <a href="http://sass-lang.com/">Sass</a> makes writing CSS much more enjoyable and productive. <a href="http://www.modernizr.com/">Modernizr</a> helps tell how capable (or not) visiting browsers are. The section icons come from the <a href="http://pictos.drewwilson.com/">Pictos</a> sets, the social icons from Gedy Rivera's <a href="http://lifetreecreative.com/icons/">Awesome Set</a>, and the fonts from <a href="http://typekit.com">Typekit</a>. A simple <a href="https://github.com/capistrano/capistrano/wiki">Capistrano</a> script deploys it all to <a href="http://asmallorange.com">A Small Orange</a> server.</p>

          <ul class="logos">
            <li><a href="http://mootools.net"><img src="/images/_.gif" data-defer-src="/images/logo-mootools.png" width="110" height="37" alt="MooTools" /></a></li>
            <li><a href="http://staceyapp.com"><img src="/images/_.gif" data-defer-src="/images/logo-stacey.png" width="82" height="37" alt="Stacey" /></a></li>
            <li><a href="http://sass-lang.com"><img src="/images/_.gif" data-defer-src="/images/logo-sass.png" width="86" height="37" alt="Sass" /></a></li>
            <li><a href="http://typekit.com"><img src="/images/_.gif" data-defer-src="/images/logo-typekit.png" width="117" height="37" alt="Typekit" /></a></li>
            <li><a href="http://modernizr.com"><img src="/images/_.gif" data-defer-src="/images/logo-modernizr.png" width="139" height="37" alt="Modernizr" /></a></li>
            <li><a href="http://pictos.drewwilson.com/"><img src="/images/_.gif" data-defer-src="/images/logo-pictos.png" width="88" height="37" alt="Pictos" /></a></li>
            <li><a href="http://lifetreecreative.com/icons/"><img src="/images/_.gif" data-defer-src="/images/logo-lifetree.png" width="120" height="37" alt="Lifetree Creative" /></a></li>
            <li><a href="http://asmallorange.com"><img src="/images/_.gif" data-defer-src="/images/logo-asmallorange.png" width="155" height="37" alt="A Small Orange" /></a></li>
          </ul>

          <p id="legal">
            Copyright &copy;2005-2012 Black Ant Media, LLC
            <a href="http://www.w3.org/html/logo/" id="html5-badge">
              <img src="/images/_.gif" data-defer-src="/images/html5-badge.png" width="79" height="26" alt="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, and Semantics" title="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, and Semantics">
            </a>
          </p>
          
        </section>        
      </div>
            
    </div>
    
    <script src="http://use.typekit.com/seh1ghz.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script> 
    <script src="/min/index.php?g=js"></script>    
    <script src="http://static.getclicky.com/js" type="text/javascript"></script> 
    <script type="text/javascript">clicky.init(172988);</script> 
    <noscript><p><img alt="Clicky" width="1" height="1" src="http://static.getclicky.com/172988ns.gif" /></p></noscript>
  </body>

</html>
